<h1>Character Index</h1>
<% if user_signed_in? %>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Race</th>
                <th>Class</th>
                
            </tr>
        </thead>
        <tbody>
            <% current_user.characters.each do |character| %>
                <tr>
                    <td><%= character.name %></td>
                    <td><%= character.race %></td>
                    <td><%= character.character_class %></td>



                    <td>
                        <%= link_to "Character Sheet", character_path(character)%>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
